
/* Common css for site */

	/*Css for footer to work*/
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}

	#wrapper {
	   min-height:100%;
	   position:relative;
	}

	#content{
	   padding:10px;
	   padding-bottom:100px;
	}
	.main {
		padding-bottom: 100px;
	}
	#footer {
	   position:absolute;
	   bottom:0;
	   height: 72px;  		/* depends on the content */
	   width:100%;
	   padding:0;
	   margin: 0;
	   background-color:#E6E9EB; 
	   text-align: center;
	}

	/*Navigation Bar Fixes*/
	.navbar-brand {
		width: 150px;
	}

	.refresh{
		height: 20px;
	}

	#signUp, #logIn {
		padding: 10px;
		width: 225px;
	}

	.sign-form {
		margin-bottom: 5px;
	}
	
	/* Footer content */
	#about{
		width: 98%; 		/* avoids overflow*/
		position: absolute;
	    left: 0;
	    text-align: center;   
	}

/* Homepage specific css */	

	#track{
		width: 100%;
		max-width: 200px;
		min-width: 150px;
	}

	.element{
		float:left;
		width: 15%;
		margin: 10px;
		min-width: 160px;
	}
	

	/* Carousel (Playlist) Css*/
	.playlist {
		background-color: #FFFFFF;
	}

	#gallery { 
		perspective: 1200px; 
		height: 500px;
	}

	#spinner { 
		transform-style: preserve-3d;
		min-height: 122px; 
		transform-origin: 50% 50% -500px;
		transition: 1s; 
	}
	#spinner img { 
		padding: 30px;
		width: 40%;
		position: absolute;
		left: 30%;
		transform-origin-z: 50% 50% -500px;
		outline: 1px solid transparent; 
	}

    #spinner img:nth-child(1) { transform: rotateY(0deg); }
    #spinner img:nth-child(2) { transform: rotateY(-45deg); }
    #spinner img:nth-child(3) { transform: rotateY(-90deg); }
    #spinner img:nth-child(4) { transform: rotateY(-135deg); }
    #spinner img:nth-child(5) { transform: rotateY(-180deg); }
    #spinner img:nth-child(6) { transform: rotateY(-225deg); }
    #spinner img:nth-child(7) { transform: rotateY(-270deg); }
    #spinner img:nth-child(8) { transform: rotateY(-315deg); }
