/* Common css for site */

	/*Css for footer to work*/
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}

	#wrapper {
	   min-height:100%;
	   position:relative;
	}

	#content {
	   padding:10px;
	   padding-bottom:100px;   
	}
	#footer {
	   position:absolute;
	   bottom:0;
	   height: 72px;  		/* depends on the content */
	   width:100%;
	   padding:0;
	   margin: 0;
	   background:#E6E9EB; 
	   text-align: center;
	}
	/*Navigation Bar Fixes*/
	.navbar-brand {
		width: 150px;
	}

	#signUp, #logIn {
		padding: 10px;
		width: 200px;
	}

	.sign-form {
		margin-bottom: 5px;
	}
	
	/* Footer content */
	#about{
		width: 98%; 		/* avoids overflow*/
		position: absolute;
	    left: 0;
	    text-align: center;   
	}

/* Homepage specific css */	

	#track{
		width: 100%;
		max-width: 200px;
		min-width: 150px;
	}

	.element{
		float:left;
		width: 15%;
		margin: 10px;
		min-width: 160px;
	}
